<div class="container-show-group" style="background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url('<%= cl_image_path @group.game.photo%>');">

  <div class="row" style="color: white;">
    <div class="col-xs-6">
      <h1>Game: <%= @group.game.name %></h1>
      <h2><%= @group.name %></h2>
      <h3>Leader: <%= @group.leader.username %></h3>
      <p><%= @group.description %></p>

      <% if @group.leader == current_user %>
        <h4><%= pluralize @requests.count, 'Request' %> pending:</h4>
        <ul>
        <% @requests.each do |request| %>
          <li>
            <h5><%= request.user.username %></h5>
            <p><%= request.message %></p>
            <%= link_to 'accept', accept_group_membership_path(@group, request), method: :patch  %>
            <%= link_to 'decline', decline_group_membership_path(@group, request), method: :patch  %>
          </li>
        <% end %>
        </ul>
      <% end %>
      <% if @group.leader == current_user %>
        <%= simple_form_for [@group, @event] do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :date %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit %>
        <% end %>
      <% end %>

      <h4><%= pluralize @events.count, 'Event' %>:</h4>

      <ul>
        <% @events.each do |event| %>
          <li>

            <h5><%= event.title %> <i>(<%= event.status %>)</i></h5>
            <p><%= event.date.strftime('%d/%m/%y') %> - <%= event.description %></p>
            <p><%= event.participations.where(presence: 'yes').count %> members said they'll be there</p>

            <%= cl_image_tag event.photo, width: 150 if event.photo.present? %>

            <% if @group.leader == current_user %>
              <%= link_to 'confirm', accept_group_membership_path(@group, request), method: :patch  %>
              <%= link_to 'cancel', decline_group_membership_path(@group, request), method: :patch  %>
            <% end %>

            <!-- à mettre dans le helper participation_status -->
            <% unless event.participations.map(&:user).include? current_user %>
              <%= simple_form_for([@group, event, @participation]) do |f| %>
                <input name="participation[presence]" type="hidden" value="yes">
                <input type="submit" value="I'm in!" class="btn btn-success">
              <% end %>

              <%= simple_form_for([@group, event, @participation]) do |f| %>
                <input name="participation[presence]" type="hidden" value="no">
                <input type="submit" value="I'm out!" class="btn btn-danger">
              <% end %>
            <% else %>
              <p>You've said you'll be there</p><i>edit</i>
            <% end %>

          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-ws-6">
      <div class="future-wall"></div>
    </div>
  </div>

<!--USERCARDS-->
  <div class="banner-pink" style="bottom: -60vh;">
    <div class="diagonal-pink"></div>
    <div class="bg-pink">
      <div class="container-link-btns">
        <div class="link-btn-members">
          <button type="button" class="link-btn btngroupmembers"><span></span>#SEE_MEMBERS</button>
        </div>
        <div class="container-cards">
          <% @members.each do |user| %>
              <% if @group.leader == user %>
                <%= render "shared/usercard", user: user %>
              <% else %>
                <%= render "shared/usercard", user: user %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
