<!-- <div class="half-div-top"></div> -->
<div class="profile-header">
  <div class="profile-title">
    <div data-toggle="modal" data-target="#photo"">
      <%= cl_image_tag @user.photo, width: 60, height: 60, crop: :fit, class: 'small-photo' %>
    </div>
    <div class="modal fade" id="photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width: auto;">
        <div data-toggle="modal" data-target="#photo" class="text-center">
          <%= cl_image_tag @user.photo, height: 600, crop: :fit, class: 'modal-photo'%>
        </div>
      </div>
    </div>
    <h1>#<%= @user.username.upcase %></h1>
  </div>
  <div class="half-div-bottom"></div>
  <h2>"<%= @user.punch_line%>"</h2>
  <div class="profile-biography">
    <p><%= @user.biography %></p>
  </div>
</div>
<div class="container-fluid">
  <div class="profile-body">
    <div class="row" style="margin-right: 50px">
      <div class="col-sm-12 col-md-7">
        <div class="profile-groups">
          <h3>#YOUR_GROUPS</h3>
          <div class="container-scroll-profile" >
            <div class="flex-scroll-profile">
              <% @user.groups.each do |group| %>
                <%= link_to group_path(group) do %>
                  <%= render "shared/groupcard-profile", group: group %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="profile-games">
          <h3>#YOUR_GAMES</h3>
          <div class="container-scroll-profile">
            <div class="flex-scroll-profile">
              <% @user.games.each do |game| %>
                <%= link_to game_path(game) do %>
                  <div class="box-groupcard-profile" style="background: url('<%= cl_image_path game.photo %>'">
                    <h6><%= game.name %></h6>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="profile-interests">
          <h3>#PROFILE</h3>

          <%= form_for(@user) do %>

            <div class="switch">
              <input type="radio" class="switch-input" name="user[interest_pve_pvp]" value="PVE" id="PVE" <%= 'checked' if @user.interest_pve_pvp == 'PVE' %>>
              <label for="PVE" class="switch-label switch-label-off">PVE</label>
              <input type="radio" class="switch-input" name="user[interest_pve_pvp]" value="PVP" id="PVP" <%= 'checked' if @user.interest_pve_pvp == 'PVP' %>>
              <label for="PVP" class="switch-label switch-label-on">PVP</label>
              <span class="switch-selection"></span>
            </div>

            <div class="switch">
              <input type="radio" class="switch-input" name="user[interest_action_strat]" value="Action" id="Action" <%= 'checked' if @user.interest_action_strat == 'Action' %>>
              <label for="Action" class="switch-label switch-label-off">Action</label>
              <input type="radio" class="switch-input" name="user[interest_action_strat]" value="Strategy" id="Strategy" <%= 'checked' if @user.interest_action_strat == 'Strategy' %>>
              <label for="Strategy" class="switch-label switch-label-on">Strategy</label>
              <span class="switch-selection"></span>
            </div>

            <div class="switch">
              <input type="radio" class="switch-input" name="user[interest_gameplay_story]" value="Gameplay" id="Gameplay" <%= 'checked' if @user.interest_gameplay_story == 'Gameplay' %>>
              <label for="Gameplay" class="switch-label switch-label-off">Gameplay</label>
              <input type="radio" class="switch-input" name="user[interest_gameplay_story]" value="Story" id="Story" <%= 'checked' if @user.interest_gameplay_story == 'Story' %>>
              <label for="Story" class="switch-label switch-label-on">Story</label>
              <span class="switch-selection"></span>
            </div>

            <div class="switch">
              <input type="radio" class="switch-input" name="user[interest_compet_chill]" value="Competition" id="Competition" <%= 'checked' if @user.interest_compet_chill == 'Competition' %>>
              <label for="Competition" class="switch-label switch-label-off">Competition</label>
              <input type="radio" class="switch-input" name="user[interest_compet_chill]" value="Chill" id="Chill" <%= 'checked' if @user.interest_compet_chill == 'Chill' %>>
              <label for="Chill" class="switch-label switch-label-on">Chill</label>
              <span class="switch-selection"></span>
            </div>

            <div class="switch">
              <input type="radio" class="switch-input" name="user[interest_mmo_smallteam]" value="MMO" id="MMO" <%= 'checked' if @user.interest_mmo_smallteam == 'MMO' %>>
              <label for="MMO" class="switch-label switch-label-off">MMO</label>
              <input type="radio" class="switch-input" name="user[interest_mmo_smallteam]" value="SmallTeam" id="SmallTeam" <%= 'checked' if @user.interest_mmo_smallteam == 'SmallTeam' %>>
              <label for="SmallTeam" class="switch-label switch-label-on">Small Team</label>
              <span class="switch-selection"></span>
            </div>

            <input type="submit" value="Save my profile" class="form-btn">

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="half-div-footer"></div>
