<div class="show-group-event">


  <!--LIST EVENTS-->
  <div class="show-group-events">
    <div class="group-events">
        <% @events.each do |event| %>
          <% if event.status != 'pending' %>
            <div class="group-event" data-toggle="collapse" data-target="#group-event-bottom-<%= event.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
              <% if event.photo.present? %>
                <div class="group-event-img" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
                url('<%= cl_image_path event.photo, height: 70, width: 70, crop: :fill%>');"></div>
              <% end %>
              <div class="event-title"><h6><%= event.title %></h6></div>

              <!--PROGRESS-BAR-->
              <div class="event-loader">
                <div class="event-loader-bg">
                  <% progress_total = event.objectives.length.to_f %>
                  <% array_progress_done = [] %>
                  <% event.objectives.each do |objective| %>
                    <% if objective.status == 'ok' %>
                      <% array_progress_done << objective %>
                    <% end %>
                  <% end %>
                  <% progress_done = array_progress_done.length.to_f %>
                  <% quote_progress = progress_done / progress_total %>
                  <div class="event-loader-color" style="width:<%= quote_progress*100 %>%;"></div>
                </div>
              </div>
            </div>
            <div class="collapse group-event-bottom" id="group-event-bottom-<%= event.id %>">
              <div class="group-event-bottom-description">
                <% if event.date == Date.today %>
                  <% event_time = (event.date.to_s + " " +event.time.to_s).to_datetime %>
                  <% current_time = Time.now.to_datetime %>
                  <% time_remaining = event_time - current_time %>
                  <p><i class="far fa-calendar-alt"></i> <%= event.date.strftime('%d/%m/%y') %> - <%= event.time.strftime('%Hh%M') %></p>
                  <p><i class="fas fa-stopwatch"></i> in <%= pluralize (time_remaining * 24).to_i, 'hour' %> and <%= pluralize (((time_remaining*24*60).to_i)-((time_remaining*24).to_i.to_s.to_i)*60), 'minute' %></p>
                <% elsif event.date > Date.today %>
                  <p><i class="far fa-calendar-alt"></i> <%= event.date.strftime('%d/%m/%y') %> - <%= event.time.strftime('%Hh%M') %></p>
                  <p><i class="fas fa-stopwatch"></i> in <%= pluralize (event.date - Date.today).to_i, 'day' %></p>
                <% else %>
                  <p>The event is now finished !</p>
                  <p>[ Event will be automatically deleted after 24h ]</p>
                <% end %>
                <p class="event-description"> <%= event.description %></p>
                <!-- OBJECTIVES -->
                  <% event.objectives.each do |objective| %>
                    <div class="objectives-div">
                      <% if objective.status == 'pending' %>
                        <%= link_to group_event_objective_path(@group, event, objective), method: :patch do %>
                          <div class="objective-line-done">
                            <i class="far fa-square"></i> <%= objective.name %>
                          </div>
                        <% end %>
                      <% else %>
                      <div class="objective-line-notdone">
                        <i class="far fa-check-square"></i><%= objective.name %>
                      </div>
                      <% end %>
                    </div>
                  <% end %>

                  <div class="event-users-in">
                    <% if event.participations.first != nil %>
                      <% event.participations.each do |participation| %>
                        <% if participation.presence == "yes" %>
                          <div class="event-user-in" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
                          url('<%= cl_image_path participation.user.photo, height: 50, width: 50, crop: :fill%>');"></div>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>

                <% if @group.leader == current_user %>
                  <div class="event-cancel">
                    <%= link_to cancel_group_event_path(@group, event), method: :patch do %>
                      <span class="delete-btn-event"> DELETE </span><i class="cancel fas fa-ban"></i>
                    <% end %>
                  </div>
                <% end %>
                <div class="launch-discord">
                  <a href="#"><i class="fab fa-discord"></i></a>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>

  <!--PENDING EVENTS-->
  <div class="show-group-pending">
    <div class="group-pending">
        <% @events.each do |event| %>
          <% if event.status == 'pending' %>
            <div class="group-event" data-toggle="collapse" data-target="#group-event-bottom-<%= event.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
              <% if event.photo.present? %>
                <div class="group-event-img" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
                url('<%= cl_image_path event.photo, height: 70, width: 70, crop: :fill%>');"></div>
              <% end %>
              <div class="event-title-pending"><h6><%= event.title %></h6></div>
              <div class="event-participations">
                <div class="event-participations-in">
                  <% participations_in = [] %>
                  <% event.participations.each do |participation| %>
                    <% participations_in << participation if participation.presence == "yes" %>
                  <% end %>
                  Players in : <%= participations_in.length %>
                </div>
                <div class="event-participations-out">
                  <% participations_out = [] %>
                  <% event.participations.each do |participation| %>
                    <% participations_out << participation if participation.presence == "no" %>
                  <% end %>
                  Players out : <%= participations_out.length %>
                </div>
              </div>
            </div>
            <div class="collapse event-bottom" id="group-event-bottom-<%= event.id %>">
              <div class="group-event-bottom-description">
                <p>Plan for : <%= event.date.strftime('%d/%m/%y') %></p>
                <p class="event-description"> <%= event.description %></p>
                <!-- OBJECTIVES -->

                  <% event.objectives.each do |objective| %>
                    <div><%= objective.name %></div>
                  <% end %>

                <div class="event-validation">
                  <% if @group.leader == current_user %>
                    <%= link_to confirm_group_event_path(@group, event), method: :patch do %>
                      <div class="event-confirm">
                        <i class="confirm far fa-check-circle"></i>
                      </div>
                    <% end %>
                    <%= link_to cancel_group_event_path(@group, event), method: :patch do %>
                      <div class="event-cancel">
                        <i class="cancel fas fa-ban"></i>
                      </div>
                    <% end %>
                  <% else %>
                  <% end %>
                </div>
                  <div class="participation-event-pending">Participation : <%= event_participation(event) %> </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>

  <!--CREATE EVENT-->
  <div class="show-group-create">
    <div id="event-form">
        <%= simple_form_for [@group, @event] do |f| %>
          <%= f.input :title, label: false, placeholder: "Title" %>
          <%= f.input :description, label: false, placeholder: "Describe your event" %>
          <div class="div-datetime">
            <%= f.input :date, as: :date %>
            <%= f.input :time %>
          </div>
          <%= f.input :photo, label: "Add a picture" %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.simple_fields_for :objectives do |o| %>
            <div class="form-objectives-dynamic">
              <div class="form-group string required event_objectives_name"></div>
            </div>
          <% end %>
          <div class="create-event"><%= f.button :submit, 'Create event' %></div>
        <% end %>
    </div>
    <div class="add-objectives">
      <button id="button-objectives-form"><i class="fas fa-list-ul"></i> Add objectives</button>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'objectives_form' %>





<%=  %>
