<div class="modal fade" id="<%= group.id %>Modal" tabindex="-1" role="dialog" aria-labelledby="<%= group.id %>ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="groupmodal-content" style="background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url('<%= cl_image_path group.game.photo%>');">
      <button data-dismiss="modal" class="close groupmodal-close-btn">×</button>
      <div class="group-infos">
        <h4><%= group.game.name %></h4>
        <h5><%= group.name %></h5>
        <p class="description-group"><%= group.description %></p>
        <p class="group-event-title">GROUP EVENTS (2 DISPLAYED, <%= group.events.length %> IN TOTAL) :</p>
        <div class="group-events">
          <% group.events.each do |event| %>
            <div class="group-event">
              <%= event.title %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="platform">
        <% if group.game.platform.delete(' ') == "XboxOne" %>
          <p class="XboxOne"><%= group.game.platform %></p>
        <% elsif group.game.platform == "PC" %>
          <p class="PC"><%= group.game.platform %></p>
        <% else %>
          <p class="PS4"><%= group.game.platform %></p>
        <% end %>
      </div>

      <div class="banner-pink">
        <div class="diagonal-pink"></div>
        <div class="bg-pink">
          <div class="container-link-btns">
            <div class="container-link-btn-members">
              <button type="button" class="link-btn btngroupmembers"><span></span>#SEE_MEMBERS</button>
            </div>
            <div class="container-link-btn">
              <button type="button" class="link-btn"><span></span>#SEND_REQUEST</button>
            </div>
          </div>
          <div class="container-cards">
            <% group.users.each do |user| %>
              <div class="group-user" class="groupmembercard"> <%= render "shared/usercard", user: user %> </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

