<!-- CARD -->
<div class="usercard" data-toggle="modal" data-target="#<%= user.username.delete(' ') %>Modal">
  <div class="usercard-photo" style="background: url('<%= cl_image_path user.photo, width: 185, height: 185, crop: :fit %>')"></div>
  <div class="usercard-infos">
    <h3>#<%= user.username %></h3>
    <span class="interline"></span>
    <p>"<%= user.punch_line %>"</p>
  </div>
  <div class="usercard-flag">
    <% if user.language == 'fr' %>
      <%= image_tag 'fr.svg', class: 'flag' %>
    <% else %>
      <%= image_tag 'gb.svg', class: 'flag' %>
    <% end %>
  </div>
</div>


