<!-- BANNER -->
<div class="container-banner-hp">
  <div class="container-title-hp">
    <div class="title-hp">
      <h1>#TEAM_UP</h1>
      <h2>WITH THE PERFECT SQUAD</h2>
      <div class="container-input-hp">
        <div class="input-hp"><p>What game do you wanna play?</p></div>
      </div>
    </div>
    <div class="discover-hp">
      <a href="#" class="link-btn"><span></span>#DISCOVER_OVERWATCH</a>
    </div>
  </div>
</div>

<div class="diagonal-up"></div>

<!-- BROWSE YOUR GROUPS -->
<div class="your-groups-hp-container">
  <div class="your-groups-hp-title">
    <h4>YOUR FRIENDS ARE PLAYING!</h4>
    <a href="#" class="link-btn">#BROWSE_YOUR_GROUPS</a>
  </div>
  <div class="your-groups-hp-scroll">
    <div class="relative-scroll">
      <div id="container-scroll">
        <div id="flex-scroll">
          <% @groups.each do |group| %>
            <%= render "shared/groupcard", group: group %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="diagonal-down"></div>

<!-- MATCH WITH NEW BUDDIES -->
<div class="profile-hp-container">
  <div class="profile-hp-title">
    <a href="#" class="link-btn">#FIND_NEW_BUDDIES</a>
    <h4>AND GROUP WITH THEM!</h4>
  </div>
  <div class="profile-hp-scroll">
    <div class="flex-container-hp">
      <% @users.each do |user| %>
        <%= render "shared/usercard", user: user %>
      <% end %>
    </div>
  </div>
  <div class="profile-hp-all">
    <a href="#" class="link-btn"><span></span>#SEE_ALL_SELECTION</a>
  </div>
</div>

<div class="diagonal-up-orange"></div>

<!--MATCH WITH NEW GROUPS -->
<div class="groups-hp-container">
  <div class="groups-hp-title">
    <a href="#" class="link-btn">#THEY_ARE_PLAYING_YOUR_GAMES</a>
    <h4>JOIN THEM!</h4>
  </div>
  <div class="groups-hp-scroll">
    <div class="relative-scroll">
      <div id="container-scroll">
        <div id="flex-scroll">
          <% @groups.each do |group| %>
            <%= render "shared/groupcard", group: group %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MATCH WITH NEW GROUPS IN NEW GAMES -->
<div class="new-games-hp-container">
  <div class="new-games-hp-title">
    <a href="#" class="link-btn">#DISCOVER_NEW_GAMES</a>
    <h4>WITH GAMERS YOU SHOULD LIKE!</h4>
  </div>
  <div class="new-games-hp-scroll">
    <div class="relative-scroll">
      <div id="container-scroll">
        <div id="flex-scroll">
          <% @groups.each do |group| %>
            <%= render "shared/groupcard", group: group %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="diagonal-down"></div>

<% @groups.each do |group| %>
  <%= render "shared/modals-groupcard", group: group %>
<% end %>
