<!-- BANNER -->
<div class="container-main-show">
  <div id="group1">
    <div class="content-head">
      <div class="main-head">
        <div class="container-title-hp">
          <div class="title-hp">
            <h1><%= @game.name.upcase %></h1>
            <h2>YOU MATCH WITH <span class="pink"><%= @groups_without_user.length %></span> GROUPS</h2>
            <h2>YOU ARE IN <span class="pink"><%= current_user.groups.where(game_id: @game.id).length %></span> GROUPS</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url('<%= cl_image_path @game.photo if @game.photo.present? %>');"></div>
    <div class="foreground margin-top">
      <div class="diagonal-up"></div>

      <!-- BROWSE YOUR GROUPS -->
      <div class="your-groups-hp-container">
        <div class="your-groups-hp-title">
          <a href="#" class="link-btn">#BROWSE</a>
          <h4 class="match animated fadeInRightBig">YOUR GROUPS</h4>
        </div>
        <div class="your-groups-hp-scroll">
          <div class="relative-scroll">
            <div id="container-scroll">
              <div id="flex-scroll">
                <% @groups.each do |group| %>
                  <%= link_to group_path(group) do %>
                    <%= render "shared/groupcard", group: group %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="diagonal-down"></div>

      <!-- MATCH WITH NEW BUDDIES -->
      <div class="profile-hp-container">
        <div class="profile-hp-title">
          <a href="#" class="link-btn">#MATCH</a>
          <h4>WITH NEW PLAYERS PLAYING <%= @game.name.upcase %></h4>
        </div>
        <div class="profile-hp-scroll">
          <div class="flex-container-hp">
            <% @users.each do |user| %>
              <%= render "shared/usercardv3", user: user %>
            <% end %>
          </div>
        </div>
        <div class="profile-hp-all">
          <a href="#" class="link-btn"><span></span>#SEE_ALL_SELECTION</a>
        </div>
      </div>

      <div class="diagonal-up-orange"></div>

      <!--MATCH WITH NEW GROUPS -->
      <div class="groups-hp-container">
        <div class="groups-hp-title">
          <a href="#" class="link-btn">#MATCH </a>
          <h4 class="match">WITH NEW GROUPS PLAYING <%= @game.name.upcase %></h4>
        </div>
        <div class="groups-hp-scroll">
          <div class="relative-scroll">
            <div id="container-scroll">
              <div id="flex-scroll">
                <% @groups_without_user.each do |group| %>
                  <%= render "shared/groupcard", group: group %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MATCH WITH NEW GROUPS IN NEW GAMES -->
      <div class="new-games-hp-container">
        <div class="new-games-hp-title">
          <a href="#" class="link-btn">#DISCOVER</a>
          <h4 class="match">NEW GAMES SIMILAR TO <%= @game.name.upcase %></h4>
        </div>
        <div class="new-games-hp-scroll">
          <div class="relative-scroll">
            <div id="container-scroll">
              <div id="flex-scroll">
                <% @other_games_groups.each do |group| %>
                  <%= render "shared/groupcard", group: group %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="diagonal-down"></div>

    </div>
  </div>
</div>

<% @groups_without_user.each do |group| %>
  <%= render "shared/modals-groupcard", group: group %>
<% end %>
<% @other_games_groups.each do |group| %>
  <%= render "shared/modals-groupcard", group: group %>
<% end %>






















